.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  position: relative;
}

.card__image {
  display: block;
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 1;
}

.card__image:hover {
  opacity: 0.7;
  cursor: pointer;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  background-image: url(../images/delete_icon.svg);
  background-size: 100% 100%;
  border: none;
}

.card__delete-button:hover {
  background-image: url(../images/deleted_hover_icon.svg);
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  color: #212121;
}

.card__title {
  max-width: 353px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__like-button {
  width: 23px;
  height: 20px;
  margin: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(../images/like_icon.svg);
  background-size: 100% 100%;
  border: none;
  opacity: 0.4;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/liked_hover_icon.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
