.footer {
  padding: 60px 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.footer__copyright {
  margin: 0;
  text-align: center;
  color: #212121;
  opacity: 70%;
}
