.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 0;
  background-image: url(../images/close_icon.svg);
  color: #212121;
  opacity: 40%;
}

.modal__close-button:hover {
  color: #212121;
  opacity: 100%;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
  box-sizing: border-box;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__input:not(:placeholder-shown) {
  border: 1px solid rgba(33, 33, 33, 0.4);
  opacity: 100%;
}

.modal__submit-button {
  background-color: #212121;
  color: #fcf5e5;
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  border: none;
}

.modal__submit-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px 12px;
  }

  .modal__header {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0 0 24px;
  }

  .modal__title {
    margin: 0;
    font-size: 20px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__submit-button {
    max-width: 100%;
  }
}
