.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #00000080;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.5s linear,
    opacity 0.5s linear;
}

.modal_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 730px;
  padding: 32px 50px;
  background-color: #fff;
  border-radius: 8px;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #212121;
  background-color: transparent;
  background-image: url(../images/close_icon.svg);
  border: 0;
  opacity: 40%;
}

.modal__close-button_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/close_preview_icon.svg);
  opacity: 100%;
}

.modal__close-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__close-button_preview:hover {
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: block;
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
}

.modal__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0 0;
  padding: 16px 12px;
  color: #212121;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 0.3;
}

.modal__input:not(:placeholder-shown) {
  opacity: 1;
}

.modal__submit-button {
  max-width: 156px;
  height: 52px;
  color: #fcf5e5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  background-color: #212121;
  border: none;
  border-radius: 8px;
}

.modal__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  width: fit-content;
  margin: 8px 0 0;
  padding: 8px 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  background-color: #212121;
  border-radius: 8px;
}

.modal__error {
  display: block;
  margin-top: 8px;
  color: #ff0000;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px 12px;
  }

  .modal__header {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0 0 24px;
  }

  .modal__title {
    margin: 0;
    font-size: 20px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button_preview {
    top: -48px;
    right: 0;
  }

  .modal__submit-button {
    max-width: 100%;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__image {
    max-width: 100%;
  }

  .modal__caption {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
  }
}
