.profile {
  display: flex;
  padding: 34px 0 20px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  color: #212121;
}

.profile__name {
  display: -webkit-box;
  max-width: 420px;
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  display: -webkit-box;
  max-width: 420px;
  margin: 0;
  color: #212121;
  opacity: 0.7;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  display: flex;
  gap: 8px;
  margin-top: auto;
  padding: 0;
  color: #212121;
  font-weight: 500;
  background-color: transparent;
  border: 0;
  opacity: 0.7;
}

.profile__edit-button:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 8px;
  width: 149px;
  height: 52px;
  margin-left: auto;
  color: #fcf5e5;
  background-color: #212121;
  border: none;
  border-radius: 8px;
}

.profile__add-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
    padding-top: 20px;
    text-align: center;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__name {
    max-width: 288px;
    margin: 0 0 6px;
    font-size: 20px;
  }

  .profile__description {
    max-width: 288px;
    margin: 0 0 32px;
  }

  .profile__edit-button {
    justify-content: center;
  }

  .profile__add-button {
    width: 100%;
    margin: 0;
  }

  .profile__add-icon {
    width: 12px;
    height: 12px;
  }
}
